# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

gin-bin
*.log

*.coverprofile
*coverage.html

.*env
.build/
bin/travis-worker

tmp/
VERSION
VERSION_TAG
VERSION_SHA1
CURRENT_SHA1
GIT_DESCRIPTION
.vagrant/

*_rsa*
vendor/**
.deps-fetched
!vendor/manifest
/*-success
.crossdeps
build/
.write-test
.envrc

builds.*/
