[Unit]
Description=Travis Worker

[Service]
Type=simple
User=travis
Group=travis
ExecStartPre=/bin/mkdir -p /var/tmp/travis-run.d
ExecStartPre=/bin/cp /usr/local/bin/travis-worker /var/tmp/travis-run.d/travis-worker
ExecStart=/bin/sh -c 'for config_file in travis-enterprise travis-worker travis-worker-local; do if [ -f /etc/default/$config_file ]; then source /etc/default/$config_file; fi; done; export GOMAXPROCS=$(nproc); exec /var/tmp/travis-run.d/travis-worker'
ExecStopPost=/bin/sleep 5
Restart=always

[Install]
WantedBy=multi-user.target

# vim:filetype=systemd
