{
    "name": "worker-dev",
    "workerCount": 1,
    "blueBox": {
        "customerId": "12345",
        "apiKey": "abcdef",
        "locationId": "abcdef",
        "templateId": "abcdef",
        "productId": "abcdef"
    },
    "amqp": {
        "url": "amqp://localhost:5672/",
        "queue": "builds.linux"
    },
    "timeouts": {
        "hardLimit": 3600,
        "vmBoot": 240,
        "logInactivity": 600
    },
    "logLimits": {
        "maxLogLength": 4194304,
        "logChunkSize": 9216
    }
}