{
    "name": "worker-dev",
    "workerCount": 1,
    "logTimestamp": "2006-01-02T15:04:05Z07:00 ",
    "provider": "blueBox",
    "blueBox": {
        "customerId": "12345",
        "apiKey": "abcdef",
        "locationId": "abcdef",
        "templateId": "abcdef",
        "productId": "abcdef",
        "ipv6Only": false
    },
    "amqp": {
        "url": "amqp://localhost:5672/",
        "queue": "builds.linux"
    },
    "timeouts": {
        "hardLimit": 3600,
        "vmBoot": 240,
        "logInactivity": 600
    },
    "logLimits": {
        "maxLogLength": 4194304,
        "logChunkSize": 9216
    },
    "librato": {
        "email": "doe@example.com",
        "token": "foo-bar-baz"
    }
}